<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong</title>
</head>
<body style="overflow-y: none;">

    <div class="container">
        <div class="row">
            <div class="col">
                <div style="padding: 0px 10px;">
                    <canvas id="canvas" width="1000px" height="500px" style="margin: 0 auto;"></canvas>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static',filename='js/pong.js')}}"></script>
</body>
</html>